@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>Desenvolvedor Júnior</h3>

<address>
    Alexander Pereira Oliveira<br />
    <br />
    <abbr title="Phone">Cel:</abbr>
    11-96147-6400
</address>

<address>
    <strong>Email:</strong>   <a href="alexander.oliveira99@gmail.com">alexander.oliveira99@gmail.com</a><br />
    <strong>Linkedin:</strong> <a target="_blank" href="https://www.linkedin.com/in/alexander-pereira-oliveira-5b2013104?trk=hp-identity-name">https://www.linkedin.com/in/alexander-pereira-oliveira-5b2013104?trk=hp-identity-name</a>
</address>